<div class="row" style="padding: 1em">
    <div class="col s12 content-page">
        <h5>{{ investmentAccount.name }}</h5>
        {{ investmentAccount.marketValue | currency:'USD':true:'2.2-2' }}
        <table>
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Latest Price</th>
                <th>Intraday Change</th>
                <th>Book Value</th>
                <th>Market Value</th>
                <th>Unrealised Gains</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let stock of investmentAccount.stocks">
                <td>{{ stock.symbol }}</td>
                <!--<td>{{ stock.quantity }}</td>-->
                <!--<td>{{ stock.latestPrice }}</td>-->
                <!--<td>{{ stock.intraDayChange }}</td>-->
                <!--<td>{{ stock.intraDayChangePct }}</td>-->
                <!--<td>{{ stock.bookValue }}</td>-->
                <!--<td>{{ stock.marketValue }}</td>-->
            </tr>
            </tbody>
        </table>


    </div>
</div>

