<div class="row">
    <div class="col s12">
        <table class="striped">
            <thead>
            <tr>
                <th>Exchange</th>
                <th>Symbol</th>
                <th>Live Price</th>
                <th>Daily Change</th>
                <th>Average Price</th>
                <th>Book Value</th>
                <th>Market Value</th>
                <th>Gains</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>TSE</td>
                <td>VCN</td>
                <td>$30.12</td>
                <td>+1.01</td>
                <td>$29.84</td>
                <td>$29840</td>
                <td>$30120</td>
                <td>$180</td>
            </tr>
            <tr>
                <td>TSE</td>
                <td>VAB</td>
                <td>$30.12</td>
                <td>+1.01</td>
                <td>$29.84</td>
                <td>$29840</td>
                <td>$30120</td>
                <td>$180</td>
            </tr>
            <tr>
                <td>TSE</td>
                <td>VXC</td>
                <td>$30.12</td>
                <td>+1.01</td>
                <td>$29.84</td>
                <td>$29840</td>
                <td>$30120</td>
                <td>$180</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

